{% include 'navbar.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<body>


    <div id="page-wrapper" style="min-height: 1041px;">
        <!-- trending -->
        <form action="/products/" method="post">
        <div class="row">
             <div class="col-lg-12">
                <h1 class="page-header">Trending</h1>
             </div>
             {% block trending %}
                {% for i,j,k in posts %}
                    {% if forloop.counter0 < 10 %}
                        <div class="col-lg-3 col-md-8">
                        <div class="panel panel-primary">
                             <div class="panel-heading">
                                 <div class="row">
                                     <div class="col-xs-3">
                                        <i class="fa fa-flash fa-3x"></i>
                                     </div>
                                     <div class="col-xs-9 text-right">
                                       <div><h5>{{ i }}</h5></div>
                                     </div>
                                 </div>
                             </div>

                            <div class="panel-footer">
                                <span class="pull-left"></span>
                                <span class="pull-right"><button type="submit" class="btn btn-outline btn-primary" value="{{ j }}" id="productid" name="productid">View Details</button></span>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                        </div>
                    {% endif %}
               {% endfor %}
             {% endblock %}
        </div>
        </form>

        <!-- Posted-->
        <form action="/products/" method="post">
        <div class="row">
             <div class="col-lg-12">
                <h1 class="page-header">Posted</h1>
             </div>
             {% block products %}
                {% for i,j,k in posts %}
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div id="product">{{ i }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                                <!--<span class="pull-left">View Details</span>-->
                            <span class="pull-right"><button type="submit" class="btn btn-outline btn-warning" value="{{ j }}" id="productid" name="productid">View Details</button></span>
                                <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
             {% endblock %}

         </div>

        <div class="row">
         <div class="col-lg-12">
            <h1 class="page-header">Request Pending sent by user</h1>
         </div>
         {% block pendingfrom %}
            {% for i,j,k,x,l,m,n in swaps %}
               {% if k == 'P' %}
                   {% if m != n %}
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"></div>
                                        <div>{{ j }}</div>
                                        <div id="pname">{{ l }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                    <!--<span class="pull-left">View Details</span>-->
                                <span class="pull-right"><button type="submit" class="btn btn-outline btn-warning" value="{{ j }}" id="productid" name="productid">View Details</button></span>
                                    <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                   {%  endif %}
                {% endif %}
            {% endfor %}
         {% endblock %}

        </div>
        <!--<form action="/decision/" method="post">-->
        <div class="row">
         <div class="col-lg-12">
            <h1 class="page-header">Request Pending for user</h1>
         </div>
         {% block pendingfor %}
            {% for i,j,k,x,l,m,n in swaps %}
               {% if k == 'P' %}
                 {% if m == n %}
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"></div>
                                        <div>{{ j }}</div>
                                        <div id="pending">{{ l }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <span class="pull-left"><button type="submit" class="btn btn-outline btn-danger" onclick="accepted({{ x }})" value="A" id="acpt">Accept</button></span>
                                <span class="pull-right"><button type="submit" class="btn btn-outline btn-danger" onclick="rejected({{ x }})" value="R" id="rjt">Reject</button></span>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                 {% endif %}
                {% endif %}
            {% endfor %}
         {% endblock %}

        </div>
        <!--</form>-->

        <!-- Swapped -->

        <div class="row">
         <div class="col-lg-12">
            <h1 class="page-header">Swapped</h1>
         </div>
         {% block Swapped %}
            {% for i,j,k,x,l,m,m in swaps %}
                {% if k == 'A' %}
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div>{{ j }}</div>
                                        <div id="aname">{{ l }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                    <!--<span class="pull-left">View Details</span>-->
                                <span class="pull-right"><button type="submit" class="btn btn-outline btn-warning" value="{{ j }}" id="productid" name="productid">View Details</button></span>
                                    <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
         {% endblock %}
        </div>

        </form>
    </div>
    <script type="application/javascript">

        function accepted(x) {
            dec = document.getElementById('acpt').value;
            var decision_details = {'id':x,'dec':dec};
               $.ajax({
                    method: "POST",
                    url: "/home/",
                    data: decision_details,
                    dataType: 'json',
                    "beforeSend": function(xhr, settings) {
                    console.log("Before Send");
                    $.ajaxSettings.beforeSend(xhr, settings);
                    alert("Sending");
                    },
                    success: function(result){

                        alert("In success");
                        location.reload();

                    },
               });
        }
         function rejected(x) {
            dec = document.getElementById('rjt').value;
            var decision_details = {'id':x,'dec':dec};
               $.ajax({
                    method: "POST",
                    url: "/home/",
                    data: decision_details,
                    dataType: 'json',
                    "beforeSend": function(xhr, settings) {
                    console.log("Before Send");
                    $.ajaxSettings.beforeSend(xhr, settings);
                    alert("Sending");
                    },
                    success: function(result){

                        //alert("Back in profile");
                        location.reload();

                    },

                });
        }

    </script>
</body>
</html>
