{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BartEx</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static "vendor/metisMenu/metisMenu.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static "vendor/metisMenu/metisMenu.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/sb-admin-2.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
    <style>
        .badge-notify{
           background:red;
           position:absolute;
           top:3px;
          }
    </style>
</head>
<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/">BartEx</a>
            </div>

            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="delete_notifications()">
                        <i class="fa fa-bell fa-fw"></i><span class="badge badge-notify" id="badge_notification"></span> <i class="fa fa-caret-down"></i>

                    </a>

                    <div class="dropdown-menu dropdown-//////alerts list-group" id="notification">

{#                        <li>#}
{#                            <a href="#">#}
{#                                <div>#}
{#                                    <i class="fa fa-comment fa-fw"></i> New Comment#}
{#                                    <span class="pull-right text-muted small">4 minutes ago</span>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="divider"></li>#}
{#                        <li>#}
{#                            <a href="#">#}
{#                                <div>#}
{#                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers#}
{#                                    <span class="pull-right text-muted small">12 minutes ago</span>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="divider"></li>#}
{#                        <li>#}
{#                            <a href="#">#}
{#                                <div>#}
{#                                    <i class="fa fa-envelope fa-fw"></i> Message Sent#}
{#                                    <span class="pull-right text-muted small">4 minutes ago</span>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="divider"></li>#}
{#                        <li>#}
{#                            <a href="#">#}
{#                                <div>#}
{#                                    <i class="fa fa-tasks fa-fw"></i> New Task#}
{#                                    <span class="pull-right text-muted small">4 minutes ago</span>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="divider"></li>#}
{#                        <li>#}
{#                            <a href="#">#}
{#                                <div>#}
{#                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted#}
{#                                    <span class="pull-right text-muted small">4 minutes ago</span>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="divider"></li>#}
{#                        <li>#}
{#                            <a class="text-center" href="#">#}
{#                                <strong>See All //////alerts</strong>#}
{#                                <i class="fa fa-angle-right"></i>#}
{#                            </a>#}
{#                        </li>#}
                    </div>
                    <!-- /.dropdown-//////alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/profile/"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li class="sidebar-search">
                            <form action="/search/" method="post">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search..." id="searching" name="searching">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            </form>
                            <!-- /input-group -->
                        </li>

                        <li>
                            <a href="/home/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>

                        <li>
                            <a href="/post/"><i class="fa fa-pencil fa-fw"></i> Post an item</a>
                        </li>

                        <li>
                            <a href="/recommendations/"><i class="fa fa-thumbs-o-up fa-fw"></i> Recommendations</a>
                        </li>



                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
    </div>
    <script>

        function getNotifications() {
            ////////alert('Get Notifications');

            $.ajax({
                method: "GET",
                url: "/setnotifications/",
                "beforeSend": function(xhr, settings) {
                    console.log("Before Send");
                    $.ajaxSettings.beforeSend(xhr, settings);
                    ////////alert("Sending");
                },
                success: function(result){
                    ////////alert('Set success');
                    ////////alert("Back in profile");
                    //location.reload();
                    console.log(result.status);
                    if(result.status.length>0) {
                        var ul = document.getElementById('notification');

                        for (var i in result.status) {
                            console.log(result.status[i]);
                            var n = result.status[i];
                            var div = document.createElement("div");
                            var li = document.createElement("li");
                            //li.setAttribute("class","");
                            var msg = document.createElement("p");
                            msg.innerHTML = ' ' + n.msg;
                            msg.setAttribute("class", "pull-left text-danger small col-md-8");
                            li.appendChild(msg);

                            var time = document.createElement("span");
                            time.innerHTML = n.time + ' hours ago';
                            time.setAttribute("class", "label label-primary pull-right text-primary col-md-4");
                            li.appendChild(time);
                            {#                        var time = document.createTextNode(n.time + " hours ago");#}
                            {#                        time.setAttribute("class","pull-right text-muted small");#}
                            {#                        li.appendChild()#}
                            //                   div.setAttribute("class","col-md-8 ")
                            ul.appendChild(div);
                            console.log(ul);
                            console.log(li);
                            div.appendChild(li);

                        }
                        //console.log(result.status.length);
                        document.getElementById("badge_notification").innerHTML = result.status.length;
                    }
                }
            });
        }
        //if(document.getElementById("badge_notification").innerHTML == "") {
            getNotifications();
        //}

        
        
        function delete_notifications() {
            $.ajax({
                method: "GET",
                url: "/deletenotifications/",
                "beforeSend": function(xhr, settings) {
                    console.log("Before Send");
                    $.ajaxSettings.beforeSend(xhr, settings);
                    ////////alert("Sending");
                },
                success: function(result){
                    console.log(result.status);
                    if(result.status==="success") {
                        var ul = document.getElementById('notification');
                        while(ul.hasChildNodes()) {
                            ul.removeChild(node.lastChild);
                        }
                        document.getElementById("badge_notification").innerHTML = "";
                        console.log("Notifications deleted.");
                    }
                    else {
                        console.log("Notifications not deleted.");
                    }
                }
            });
{#            setTimeout(function () {#}
{#                #}
{#            },1000);#}
            //getNotifications();
        }
    </script>
</body>
</html>