{% include 'navbar.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<body>

        <div class="container">

{#            <div class="col-md-5  toppad  pull-right col-md-offset-3 ">#}
{#                <A href="edit.html" >Edit Profile</A>#}
{#                <A href="edit.html" >Logout</A>#}
{#                <br><p class=" text-info">May 05,2014,03:00 pm </p>#}
{#            </div>#}

            <script type="text/javascript"></script>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


                <div class="panel panel-primary">
                    <div class="panel-heading">
                         Post an item for exchange!!
                    </div>

                    <form method="post" action="/postin/">{% csrf_token %}
                    <div class="panel-body">
                         <div class="table-responsive table-bordered">
                             <table>
                                <tbody>
                                    <tr>
                                    <td class="col-md-4"><div class="form-group">
                                            <label>Product name</label>
                                            <input class="form-control" placeholder="Enter text" id="pname" name="pname">
                                        </div>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4" id="categ">
                                        <div class="form-group">
                                                <label>Category</label>
                                                <form id="form1" method="POST">
                                                    {% csrf_token %}
                                                    <select name="categories" id="categories">
                                                        {% block content %}
                                                            {% for cat in products %}
                                                                <option value="{{ cat }}">{{ cat }}</option>
                                                            {% endfor %}
                                                        {% endblock %}
                                                    </select>
                                                </form>
                                        </div>
                                        </td>
                                    </tr>
                                    <tr>
                                    <td class="col-md-4"><div class="form-group">
                                            <label>Product Age</label>
                                            <input class="form-control" placeholder="Enter text" id="age" name="age">
                                        </div>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td  class="col-md-4">
                                        <div class="form-group">
                                            <label>Estimated Price</label>
                                            <input class="form-control" placeholder="Enter text" id="price" name="price">
                                    </div>
                                    </td>
                                    <td  class="col-md-4"></td>
                                    </tr>
                                    <tr>
                                    <td class="col-md-4">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea class="form-control" rows="3" id="desc" name="desc"></textarea>
                                        </div>
                                    </td>
                                    <td class="col-md-4"></td>
                                    </tr>
                                    <tr>
                                    <td class="col-md-4">
                                        <div class="form-group">
                                            <label>Image</label>
                                            <input type="file" id="imge" name="imge">
                                        </div>
                                    </td>
                                    <td class="col-md-4"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">
                                            <div class="form-group">
                                                <label>Swap with</label>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" onclick="checkselection()" id="choice" name="choice">I know
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" onclick="checkselection()" id="choice" name="choice">I don't know
                                                    </label>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <!--<tr>
                                        <td class="col-md-4" id="multiple" style="display:none">
                                        <div class="form-group">
                                            <label>Choose multiple categories</label>
                                               <form id="form1" method="POST">
                                                    {% csrf_token %}
                                                      <select multiple="multiple" class="form-control" id="mcat" name="cat">
{#                                                       {% block contents %}#}
{#                                                            {% for cat in products %}#}
{#                                                                <option value="{{ cat }}">{{ cat}}</option>#}
{#                                                            {% endfor %}#}
{#                                                       {% endblock %}#}
                                                      </select>

                                               </form>
                                            </select>
                                        </div>
                                    </td>
                                    </tr>-->
                                    <tr>
                                        <td class="col-md-4" id="multiple" style="display:none">
                                        <div class="form-group">
                                            <label>Choose Multiple Items</label>
                                            <div class="checkbox">
                                                <label>
                                                    {% block contents %}
                                                            {% for cat in products %}
                                                                <input type="checkbox" name="cats" value="{{ cat }}">{{ cat}}</input>
                                                            {% endfor %}
                                                    {% endblock %}
                                                </label>
                                            </div>
                                            <!--<div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="">accessories
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="">Musical Instruments
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="">Footwear
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="">Books
                                                </label>
                                            </div>-->
                                        </div>
                                        </td>
                                    </tr>

                                </tbody>
                             </table>
                            <center><button type="submit" class="btn btn-primary">POST</button></center>
                         </div>
                    </div>
                    </form>

                </div>

            </div>

        </div>
    <script type="text/javascript">
        function checkselection(){
            if(document.getElementById('optionsRadios1').checked) {
                document.getElementById('multiple').style.display = 'block';
            }
            else if(document.getElementById('optionsRadios2').checked){
                document.getElementById('multiple').style.display = 'none';
                }

        }
        /*function  getdata() {
            var selectedValues = $('#mcat').val();
            $.ajax({
            type: 'POST',
            url: '/postin/',
            contentType: 'application/json; charset=utf-8', //EDITED
            data: JSON.stringify(selectedValues),
            success: function(data) {
                 $('body').html(data); //EDITED
            },
            error: function(rs, e) {
                 alert(rs.responseText);
            }
        });
        }*/

    </script>

</body>
</html>